<body>
    <div id="app">
        <app-sidebar></app-sidebar>
        <div id="main">
            <header class="mb-3">
                <a class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="col-12 col-lg-3 col-md-6" *ngIf="result.rol=='publicidad'">
                <div class="card">
                    <div class="card-body py-4 px-5">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl">
                                <img src="assets/images/faces/avatar.png" alt="Face 1">
                            </div>
                            <div class="ms-3 name">
                                <h5 class="font-bold">{{usuario}}</h5>
                                <h6 style="color: red; cursor: pointer; " (click)="logout()" class="mb-0">Cerrar
                                    sesión</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" *ngIf="result.rol=='publicidad'">
                <form action="" method="POST">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Subir archivos</h5>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <p class="card-text">Agregue archivos para mostrar en la galeria de publicidad</p>
                                <div class="input-group mb-3">

                                    <select class="form-select" id="inputGroupSelect08" (change)="selectOption($event)">
                                        <option value="0" selected hidden="">Elija el grupo de imagen</option>
                                        <option value="nacimiento">Nacimiento</option>
                                        <option value="matrimonio">Matrimonio</option>
                                        <option value="divorcio">Divorcio</option>
                                        <option value="defuncion">Defuncion</option>
                                        <option value="altasCurp">Altas Curp</option>
                                        <option value="correcionCurp">Correcion de CURP</option>
                                        <option value="constanciaFiscal">Constancia de situacion fiscal</option>
                                        <option value="constanciaI">Constancia de Inhabilitación</option>
                                        <option value="facturacionE">Facturacion electronica</option>
                                        <option value="general">General</option>
                                    </select>
                                </div>
                                <!-- Basic file uploader -->
                                <input type="file" class="basic-filepond" id="archivo" accept="image/*"
                                    (change)="preview1($event)">
                                <a class="btn btn-success" (click)="addImg()" style="margin: 1rem;">Subir archivo</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Publicidad</h1>
                <hr class="mt-2 mb-5">
                <section id="groups">
                    <div class="row">
                        <div class="col-lg-6 col-md-12" style="margin: 0 auto;">
                            <div class="card-content">
                                <div class="card-body" style="display: grid; align-items: center; justify-content: center;">
                                    <div class="list-group list-group-horizontal-sm mb-1 text-center" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-sunday-list"
                                            data-bs-toggle="list" href="#list-sunday" role="tab"
                                            (click)="getImages('nacimiento')">Nacimiento</a>
                                        <a class="list-group-item list-group-item-action" id="list-monday-list0"
                                            data-bs-toggle="list" href="#list-monday" role="tab"
                                            (click)="getImages('matrimonio')">Matrimonio</a>
                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list11"
                                            data-bs-toggle="list" href="#list-tuesday" role="tab"
                                            (click)="getImages('divorcio')">Divorcio</a>
                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list22"
                                            data-bs-toggle="list" href="#list-nuevo" role="tab"
                                            (click)="getImages('defuncion')">Defunción</a>
                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list1"
                                            data-bs-toggle="list" href="#list-nuevo" role="tab"
                                            (click)="getImages('altasCurp')">Altas Curp</a>
                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list2"
                                            data-bs-toggle="list" href="#list-nuevo" role="tab"
                                            (click)="getImages('correcionCurp')">Correcion de Curp</a>
                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list3"
                                            data-bs-toggle="list" href="#list-nuevo" role="tab"
                                            (click)="getImages('constanciaFiscal')">Situacion fiscal</a>
                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list4"
                                            data-bs-toggle="list" href="#list-nuevo" role="tab"
                                            (click)="getImages('constanciaI')">Inhabilitación</a>
                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list5"
                                            data-bs-toggle="list" href="#list-nuevo" role="tab"
                                            (click)="getImages('facturacionE')">Facturacion electronica</a>
                                        <a class="list-group-item list-group-item-action" id="list-tuesday-list6"
                                            data-bs-toggle="list" href="#list-nuevo" role="tab"
                                            (click)="getImages('general')">General </a>
                                    </div>
                                    <div class="buttons"
                                        style="margin: 1rem; display: grid; align-items: center; justify-content: center; ">
                                        <a class="btn btn-success" (click)="descargar()">Descargar publicidad</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row match-height">
                        <div class="card-group">
                            <div class="col-lg-3 col-md-4 col-6" *ngFor="let url of urlImgs; let i = index">
                                <a href="{{urlimg}}{{url.path}}" data-lightbox="roadtrip"><img class="example-image"
                                        src="{{urlimg}}{{url.path}}" alt="image-3" height="400" width="300"></a>
                                <a class="btn btn-danger" *ngIf="result.rol=='publicidad'"
                                    (click)="eliminarModal(url.id, url.path)">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>